# ignore postgresql db data
codeigniter-db-data

# Ignore .env file and environment-specific configuration
.env

# Ignore Composer's vendor directory
/vendor/

# Ignore node_modules directory (if you're using Node.js for anything)
node_modules/

# Ignore CodeIgniter's cache directory
/src/application/cache/*

# Ignore logs directory
/src/application/logs/*

# Ignore Mac OS files
.DS_Store

# Ignore apache logs
apache/logs/**

# Ignore all files in src/application/logs directories
src/application/logs/**
!src/application/logs/**/index.html

# Ignore generated composer files
/src/vendor/
/src/composer.lock

# vercel
/src/.vercel
